# Compiled class files  

*.class  

# Package Files  

*.jar  

# Build directories  

target/  

# VS Code  

.vscode/*  

!.vscode/settings.json  

# --- OS específicos ---  

.DS_Store  

Thumbs.db  